# Configuration file for the Sphinx documentation builder.
#
# For the full list of built-in configuration values, see the documentation:
# https://www.sphinx-doc.org/en/master/usage/configuration.html

# -- Project information -----------------------------------------------------
# https://www.sphinx-doc.org/en/master/usage/configuration.html#project-information

project = "{{ project_name }}"
author = "{{ author_name }}"
{% if include_version %}
release = "{{ version }}"
{% endif %}
{% if include_copyright %}
copyright = "%Y, {{ author_name }}"
{% else %}
html_show_copyright = False
{% endif %}

# -- General configuration ---------------------------------------------------
# https://www.sphinx-doc.org/en/master/usage/configuration.html#general-configuration

extensions = [
    "myst_parser",
    "sphinx_design",
    "sphinxcontrib.mermaid",
    "sphinx_copybutton",
    {% if include_autosectionlabel %}
    "sphinx.ext.autosectionlabel",
    {% endif %}
    {% if include_intersphinx %}
    "sphinx.ext.intersphinx",
    {% endif %}
]
{% if include_autosectionlabel %}
autosectionlabel_prefix_document = True
{% endif %}
templates_path = ["_templates"]
exclude_patterns = []

# -- Options for HTML output -------------------------------------------------
# https://www.sphinx-doc.org/en/master/usage/configuration.html#options-for-html-output

{% if sphinx_theme == "sphinx_book_theme" %}
# https://sphinx-book-theme.readthedocs.io/en/latest/tutorials/get-started.html
{% endif %}
html_theme = "{{ sphinx_theme }}"
html_static_path = ["_static"]
{% if sphinx_theme == "sphinx_book_theme" %}
# -- Use sphinx_book_theme GitHub integration -------------------------------------------------
# html_theme_options = {
#     "repository_url": "https://github.com/feikname/cookiecutter-sphinx",
#     "use_repository_button": True,
#     "use_issues_button": True,
#     "use_edit_page_button": True,
#     "path_to_docs": "docs",
#     "show_toc_level": 2,
# }
{% endif %}
# -- MyST Options -------------------------------------------------
# https://myst-parser.readthedocs.io/en/latest/syntax/optional.html
myst_enable_extensions = [
    "dollarmath",
    "tasklist",
    "colon_fence",
    "deflist",
    "strikethrough",
]

# supress 'WARNING: Strikethrough is currently only supported in HTML output [myst.strikethrough]'
suppress_warnings = ["myst.strikethrough"]

# allow linking to headers up to h3 (#, ##, ###)
myst_heading_anchors = 3

{% if include_intersphinx %}
# Intersphinx configuration
from pathlib import Path

# We recommend adding the following config value.
# Sphinx defaults to automatically resolve *unresolved* labels using all your Intersphinx mappings.
# This behavior has unintended side-effects, namely that documentations local references can
# suddenly resolve to an external location.
# See also:
# https://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html#confval-intersphinx_disabled_reftypes
intersphinx_disabled_reftypes = ["*"]

# intersphinx_mapping = {
#     "python": ("https://docs.python.org/3", None),
# }
{% endif %}
